useDynLib(PythonInR)
importFrom(stats, setNames)
importFrom("pack", unpack)
import(methods)
import(R6)
import(slam)

S3method("print", "pyFunction")

S3method("[", "PythonInR_Tuple")
S3method("[<-", "PythonInR_Tuple")

S3method("[", "PythonInR_List")
S3method("[<-", "PythonInR_List")

S3method("[", "PythonInR_Dict")
S3method("[<-", "PythonInR_Dict")

export(th.int)
export(th.long)
export(th.float)

export(th.string)
## export(th.bytes)
export(th.unicode)

export(th.vector)
export(th.vector_int)
export(th.vector_str)

export(th.list)
export(th.list_int)
export(th.list_str)

export(th.tuple)
export(th.tuple_int)
export(th.tuple_str)

export(th.tlist)
export(th.tlist_int)
export(th.tlist_str)

export(th.numpy)
export(th.numpy_int)
export(th.numpy_str)

export(th.scibsr)
export(th.scicoo)
export(th.scicsc)
export(th.scicsr)
export(th.scidia)
export(th.scidok)
export(th.scilil)

export(th.cvxopt)
export(th.pandas)

export(autodetectPython,
       pyAttach,
       pyConnect,
       pyIsConnected,
       pyVersion,
       pyExit,
       pyExec,
       pyExecg,
       pyExecp,
       pyExecfile,
       pyPrint,
       pyCall,
       pyGet0,
       pyGet,
       pySet,
       pyType,
       pyImport,
       pyHelp,
       pyDir,
       pyObject,
       pyFunction,
       pyDict,
       pyList,
       pyTuple,
       pyOptions,
       BEGIN.Python)
