useDynLib(PythonInR)
importFrom(stats, setNames)
importFrom("pack", unpack)
import(methods)
import(R6)
import(typehints)

S3method("print", "pyFunction")

S3method("[", "PythonInR_Tuple")
S3method("[<-", "PythonInR_Tuple")

S3method("[", "PythonInR_List")
S3method("[<-", "PythonInR_List")

S3method("[", "PythonInR_Dict")
S3method("[<-", "PythonInR_Dict")

S3method("th", "int")
S3method("th", "long")
S3method("th", "float")
S3method("th", "complex")
S3method("th", "string")
S3method("th", "bytes")
S3method("th", "unicode")
S3method("th", "list")
S3method("th", "tuple")
S3method("th", "numpy")
S3method("th", "cvxopt")
S3method("th", "pandas")

export(th.int)
export(th.long)
export(th.float)
export(th.complex)
export(th.string)
export(th.bytes)
export(th.unicode)
export(th.list)
export(th.tuple)
export(th.numpy)
export(th.cvxopt)
export(th.pandas)

export(autodetectPython,
       pyAttach,
       pyConnect,
       pyIsConnected,
       pyVersion,
       pyExit,
       pyExec,
       pyExecg,
       pyExecp,
       pyExecfile,
       pyPrint,
       pyCall,
       pyGet0,
       pyGet,
       pySet,
       pyType,
       pyImport,
       pyHelp,
       pyDir,
       pyObject,
       pyFunction,
       pyDict,
       pyList,
       pyTuple,
       pyOptions,
       BEGIN.Python)
